{% extends 'main.html' %} {% block content %}

<div class="apt-body">
  <h1 class="appointment-h1">Schedule An Appointment</h1>

  <form method="post" id="form">
    {% csrf_token %}
    <div class="t">
      <div class="label-container">
        <label for="fname">First Name:</label>
        <input
          type="text"
          size="20"
          maxlength="20"
          minlength="5"
          required
          id="fname"
          name="fname"
          class="input-field"
          placeholder="First Name"
        />
      </div>

      <div class="label-container">
        <label for="lname">Last Name:</label>
        <input
          type="text"
          size="20"
          maxlength="20"
          minlength="5"
          required
          id="lname"
          name="lname"
          class="input-field"
          placeholder="Last Name"
        />
      </div>

      <div class="label-container">
        <label for="phone">Phone Number:</label>
        <input
          id="phone"
          type="tel"
          required
          aria-multiline="false"
          class="input-field"
          placeholder="Enter your phone number"
          name="phone"
          minlength="11"
          pattern="0+[0-9]{10}"
        />
        <!-- <small>08012345678</small> -->
      </div>

      <div class="label-container">
        <label for="email">Email:</label>
        <input
          id="email"
          class="input-field"
          type="email"
          placeholder="Enter your email address"
          name="email"
        />
      </div>
    </div>
    <div class="label-container" style="margin-left: 30px; margin-top: -10px">
      <label for="textarea"
        >Tell us more:
        <textarea
          id="textarea"
          placeholder="Tell us what you would like to discuss"
          name="description"
          rows="5"
          cols="60"
        ></textarea>
      </label>
    </div>

    <input type="submit" value="Submit" />
  </form>
</div>

{% endblock content %}
