{% extends 'main.html' %} {% block content %}
<!-- Start -->
<section class="product-body">
  <!-- Side Bar -->
  <div class="product-nav">
    <h2>Categories:</h2>
  </div>

  <!--Start of Product Listing-->
  <div class="products-container">
    <h1>Multivitamins and Supplements</h1>

    <!--First Level-->
    <div class="product-box">
      <!--Load Static - Image-->
      {% load static %}
      <div class="img-div">
        <img src="{% static '/vitamins1.jpeg' %}" />
      </div>
      <div class="text-container">
        <h2>Therapeautic Herbal Teas</h2>
        <p>
          Indulge in the tranquility of our therapeutic herbal tea, a blend
          carefully crafted to soothe both body and mind. Our teas are designed
          to promote a sense of calm and aid in digestion, making it an ideal
          companion for moments of self-care. Elevate your well-being with the
          natural goodness of our therapeutic herbal tea.
        </p>
        <a class="button-style">Contact Us</a>
      </div>
    </div>
  </div>
</section>
{% endblock content %}
