{% extends 'main.html' %} {% block content %}
<!-- Start Of Body -->
<section class="product-body">
  <!-- Side Bar -->
  <div class="product-nav">
    <h2>Categories:</h2>
    <div class="category-div">
      {% for category in categories %}
      <p>{{category.name}}</p>
      {% endfor %}
    </div>
  </div>

  <!--Start of Product Listing-->
  <div class="products-container">
    <h1>Multivitamins and Supplements</h1>

    <!--First Level-->
    {% for product in products %}

    <div class="product-box">
      <!--Load Static - Image-->
      {% load static %}
      <div class="img-div">
        <img src="{% static '/'%}product_{{product.id}}.jpeg" />
      </div>
      <div class="text-container">
        <h2>{{product.name}}</h2>
        <p>{{product.description}}</p>
        <a href="{% url 'contact-us' %}" class="button-style">Contact Us</a>
      </div>
    </div>

    {% endfor %}
  </div>
</section>

{% endblock content %}
